<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Investment Strtegy - we help you invest on stocks and ETFs</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">

    </head>
    <body>
        <!-- <script src="{{url_for('static', filename='js/stockCharts.js')}}"></script> -->
        <script>
            function createChart2(name, data_json, canvasId) {              
                var parsed = JSON.parse(data_json)
                let price = [];
                let stock_date = [];
              
                for(var i = 0; i < parsed.length;i++){
                        // create label
                        stock_date.push(parsed[i][0]);
                        // create data
                        price.push(parsed[i][1]);
                    
                }
            
                
                let data = {
                    labels: stock_date,
                    datasets: [{
                        label: `${name} Price`,
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: price,
                    }]
                }

                let config = {
                    type: 'line',
                    data,
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: `${name} Price Chart`
                            }
                        }
                    }
                }
                console.log(config);
                new Chart(
                    document.getElementById(canvasId),
                    config
                );
            }
        </script>
        <div class="container">
            <div id="invest-form-container">
                <div id="logo-container">
                    <div>
                        <img src="{{url_for('static', filename='img/invest.png')}}" alt="logo">
                    </div>
                    <h3 id="brand">Invest Assist</h3>
                </div>
                <div id="slogan-container">
                    <div class="hr-div"></div>
                    <div id="slogan">Your best investment helper</div>
                    <div class="hr-div"></div>
                </div>
                <form method="POST"  id="invest-form" action="/" onsubmit="investFormOnsubmit(event)">
                    <div class="form-group">
                        <label for="amount" class='title-label'>Invest Amount: (Minimum $5,000)</label>
                        <input class="form-control" type="text" name="amount" placeholder="Your invest amount($)"/>
                    </div>
                    <div>
                        <label class='title-label'>Please select your investing product(At least 1)</label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input product" name="stock" checked>Stock
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input product" name="etf" checked>ETFs
                        </label>
                    </div>
                    <div>
                        <label class='title-label'>Please select your investment strategy(Up to 2)</label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input strat" name="ethical">Ethical Investing
                        </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input strat" name="growth">Growth Investing
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input strat" name="index">Index Investing
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input strat" name="quality">Quality Investing
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input strat" name="value">Value Investing
                    </label>
                    </div>
                      <div class="form-group" style="margin-top: 12px;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                </form>
            </div>
            {% if items is defined %}
                <div id="suggest-intro">Since you plan to spend <b>${{items['amount']}}</b>, and you like <b>{{items['strat1']}} investing</b>{% if items['strat2'] is defined %}
                        and <b>{{items['strat2']}} investing{% endif %}</b>, we suggest you......
                </div>
                <div class="row">
                    {% if 'stock' in items['suggestion'] %}
                    <div class="col-md-6" id="stock-panel">
                        Spend ${{items['suggestion']['stock']['spend']}} on these stocks...
                        
                        {%for name in items['suggestion']['stock']['names'] %}
                            <canvas id={{name}} width="600" height="400"></canvas>
                            <script>
                                createChart2('{{name}}', '{{items["suggestion"]["stock"]["history"][name]|tojson}}', '{{name}}');
                            </script>
                        {%endfor%}
                    </div>
                    {% endif %}
                    {% if 'ETF' in items['suggestion'] %}
                    <div class="col-md-6" id="etf-panel">
                        Spend ${{items['suggestion']['ETF']['spend']}} on these ETFs...
                        <br/>
                        {%for name in items['suggestion']['ETF']['names'] %}
                            {{name}}
                            {% set dash = "_".join(name.split(" ")) %}

                            <canvas id={{dash}} width="600" height="400"></canvas>
                            <script>
                                createChart2('{{name}}', '{{items["suggestion"]["ETF"]["history"][name]|tojson}}', '{{dash}}');
                            </script>
                        {%endfor%}
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <script src="{{url_for('static', filename='js/validation.js')}}"></script>
    </body>
</html>